<style>
table {
    margin-top: 5em;
    width: 100%;
}
caption {
    margin-bottom: 2em;
}
th, td {
    text-align: left;
}
tr.even {
    background: #f0f0f0;
}
tbody tr td:first-child {
    font-family: monospace;
}
</style>
